/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

body {
  background-color: #f0f7fc;
  font-family: "Oswald", serif;
}

main {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 80vw;
}

.content-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-img {
  width: 50%;
}

h1 {
  color: #246682;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h3 {
  color: #141c21;
}

p {
  color: #7a8388;
}

span {
  color: #fff;
  text-transform: uppercase;
}

.time {
  font-size: 2rem;
}

.countdown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #141c21;

}

.countdown {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 60rem) {
  .content-container {
    flex-direction: column;
    width: 60vw;
  }

  .main-img {
    width: 100%;
  }
}

@media screen and (max-width: 35rem) {
  .content-info {
    text-align: center;
    width: 80%;
  }  

  .countdown {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content-container {
    width: 100vw;
  }

  main {
    align-items: flex-start;
  }
}
